
__pycache__/
ml/__pycache__/
*.pyc
*.pyo


venv/
.env/


ml/storage/*
!ml/storage/.gitkeep


uploads/*
!uploads/.gitkeep


models/*
!models/.gitkeep


*.pkl
*.joblib
*.h5
*.json


static/images/*
!static/images/.gitkeep


.ipynb_checkpoints/


*.log


.DS_Store
Thumbs.db
.vscode/
.idea/


database.db-journal
database.db-wal
database.db-shm
