
<link rel="stylesheet" href="../static/css/style.css">

<div class="food-bg">
  <span>🍕</span>
  <span>🍔</span>
  <span>🍩</span>
  <span>🍜</span>
  <span>🥗</span>
</div>


<form method="post" class="card">

  <div class="input-group">
    <input name="username" placeholder="Username" required>
  </div>

  <div class="input-group">
    <input type="password" name="password" placeholder="Password" required>
  </div>

  <div class="input-group">
    <input name="restaurant" placeholder="Restaurant Name" required>
  </div>

  
   <div class="toggle">
    <span>Grocery Management</span>
    <label>
        <input type="checkbox" name="grocery">
        <div class="switch"></div>
    </label>
   </div>

   <div class="toggle">
    <span>Staff Management</span>
    <label>
        <input type="checkbox" name="staff">
        <div class="switch"></div>
    </label>
   </div>
   
   <div class="toggle">
    <span>Combo Creations</span>
    <label>
        <input type="checkbox" name="combo">
        <div class="switch"></div>
    </label>
   </div>


  <button type="submit">Register</button>

  <a href="/login">Already have an account?</a>

</form>

